In [34]:
import pandas as pd
from scipy.stats import chi2_contingency


df_customers = pd.read_csv(r'./churn_customers.csv')
df_services = pd.read_csv(r'./churn_services.csv')
df_contracts = pd.read_csv(r'./churn_contracts.csv')

df_with_all_data = df_customers.merge(df_services, left_on=['customerID'], right_on=['customerID']
        ).merge(df_contracts, left_on=['customerID'], right_on=['customerID'])

df_with_all_data

,customerID,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,1,Month-to-month,Yes,Electronic check,29.850000000000001,29.85,No
1,5575-GNVDE,Male,0,No,No,Yes,No,DSL,Yes,No,...,No,No,No,34,One year,No,Mailed check,56.950000000000003,1889.5,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,2,Month-to-month,Yes,Mailed check,53.850000000000001,108.15,Yes
3,7795-CFOCW,Male,0,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,45,One year,No,Bank transfer (automatic),42.299999999999997,1840.75,No
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,2,Month-to-month,Yes,Electronic check,70.700000000000003,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,Yes,DSL,Yes,No,...,Yes,Yes,Yes,24,One year,Yes,Mailed check,84.799999999999997,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,72,One year,Yes,Credit card (automatic),103.200000000000003,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,11,Month-to-month,Yes,Electronic check,29.600000000000001,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,4,Month-to-month,Yes,Mailed check,74.400000000000006,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,Yes,No,Fiber optic,Yes,No,...,Yes,Yes,Yes,66,Two year,Yes,Bank transfer (automatic),105.650000000000006,6844.5,No

### VALIDANDO SE FAIXA ETÁRIA TEM FORTE ASSOSIOAÇÃO AO CHURN

In [17]:
# FAZENDO CROSSOVER DE DADOS
cross_df_data_senior_churn = pd.crosstab(
    df_with_all_data['Churn'], 
    df_with_all_data['SeniorCitizen'], 
)

In [28]:
chi_data = chi2_contingency(cross_df_data_senior_churn)

pd.set_option('display.float_format', lambda x: '%.15f' % x)

chi_data_score = pd.Series(chi_data[0])
chi_data_p_value = pd.Series(chi_data[1])

df_with_scores = pd.DataFrame({'Score': chi_data_score, 'P_values': chi_data_p_value})
df_with_scores

                Score          P_values
0 159.426300368387416 0.000000000000000

COM BASE NAS VISUALIZAÇÕES, AS INFORMAÇÕES NÃO SÃO INDEPENDENTES, MAS TAMBÉM A MEDIDA DE RELAÇÃO AO SCORE É ALTA

### VALIDANDO SE O CONTRATO MENSAL ESTÁ MAIS PROPENSO AO CHURN

In [ ]:
# TESTE
df_only_month_to_month = df_with_all_data[df_with_all_data['Contract'] == 'Month-to-month'].copy()
df_only_month_to_month

,customerID,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,1,Month-to-month,Yes,Electronic check,29.850000000000001,29.85,No
2,3668-QPYBK,Male,0,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,2,Month-to-month,Yes,Mailed check,53.850000000000001,108.15,Yes
4,9237-HQITU,Female,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,2,Month-to-month,Yes,Electronic check,70.700000000000003,151.65,Yes
5,9305-CDSKC,Female,0,No,No,Yes,Yes,Fiber optic,No,No,...,No,Yes,Yes,8,Month-to-month,Yes,Electronic check,99.650000000000006,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,No,22,Month-to-month,Yes,Credit card (automatic),89.099999999999994,1949.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7033,9767-FFLEM,Male,0,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,38,Month-to-month,Yes,Credit card (automatic),69.500000000000000,2625.25,No
7034,0639-TSIQW,Female,0,No,No,Yes,Yes,Fiber optic,Yes,Yes,...,No,Yes,No,67,Month-to-month,Yes,Credit card (automatic),102.950000000000003,6886.25,Yes
7035,8456-QDAVC,Male,0,No,No,Yes,No,Fiber optic,No,No,...,No,Yes,No,19,Month-to-month,Yes,Bank transfer (automatic),78.700000000000003,1495.1,No
7040,4801-JZAZL,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,11,Month-to-month,Yes,Electronic check,29.600000000000001,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,4,Month-to-month,Yes,Mailed check,74.400000000000006,306.6,Yes

In [44]:
# FAZENDO CROSSOVER DE DADOS
cross_df_data_contract_churn = pd.crosstab(
    df_with_all_data['Churn'], 
    df_with_all_data['Contract'],
)

chi_contract = chi2_contingency(cross_df_data_contract_churn)

chi_contract_score = pd.Series(chi_contract[0])
chi_contract_p_value = pd.Series(chi_contract[1])

df_with_scores = pd.DataFrame({'Score': chi_contract_score, 'P_values': chi_contract_p_value})
df_with_scores

                 Score          P_values
0 1184.596572083792580 0.000000000000000