In [23]:
import pandas as pd

In [24]:
dataframe_customers = pd.read_csv(r'./churn_customers.csv')

### CUSTOMERS INFOS

In [25]:
# 5 PRIMEIROS CLIENTES
dataframe_customers.head(5)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [26]:
# 5 ULTIMOS CLIENTES
dataframe_customers.tail(5)

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [27]:
# CLIENTE SCHEMA
dataframe_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

### CONTRACTS INFOS

In [28]:
dataframe_contracts = pd.read_csv(r'./churn_contracts.csv')

In [29]:
# 5 PRIMEIROS CONTRATOS
dataframe_contracts.head(5)

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [30]:
# CONTRATOS SCHEMA
dataframe_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

### SERVICES INFOS

In [31]:
dataframe_services = pd.read_csv(r'./churn_services.csv')

In [32]:
# 5 PRIMEIROS SERVIÇOS
dataframe_services.head(5)

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Yes,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No

In [33]:
# SERVIÇOS SCHEMA
dataframe_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

### MUDANDO ESTRUTURA CONTRACTS (SCHEMAS)

In [34]:
# errors='coerce' DEIXA OS DADOS QUE NÃO FOR POSSÍVEL CONVERTER COMO NULL
dataframe_contracts['TotalCharges'] = pd.to_numeric(dataframe_contracts['TotalCharges'], errors='coerce')

dataframe_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

11 itens ficaram ausentes (missing values)

### RENOMEAR COLUNA

In [44]:
# MODIFICANDO APENAS UMA ÚNICA COLUNA
dataframe_customers.rename(columns={'SeniorCitizen': '+65'}, inplace=True)

dataframe_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   +65         7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [48]:
# MODIFICANDO VARIAS COLUNAS
dataframe_customers.columns = ['usuarioID', 'genero', '+65', 'casado', 'dependentes']

dataframe_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   usuarioID    7043 non-null   object
 1   genero       7043 non-null   object
 2   +65          7043 non-null   int64
 3   casado       7043 non-null   object
 4   dependentes  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

### MERGE (CONECTANDO VARIOS DATAFRAMES)

In [ ]:
# FIZEMOS O MERGE E O DROP DOS IDS PARA NAO DUPLICAR A INFORMAÇÃO IGUAL
dataframe_all_infos = dataframe_customers.merge(
    dataframe_contracts, left_on=['usuarioID'], right_on=['customerID']).drop(
        columns=['customerID'], axis=1).merge(
            dataframe_services, left_on=['usuarioID'], right_on=['customerID']).drop(
                 columns=['customerID'], axis=1
            )

dataframe_all_infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   usuarioID         7043 non-null   object
 1   genero            7043 non-null   object
 2   +65               7043 non-null   int64
 3   casado            7043 non-null   object
 4   dependentes       7043 non-null   object
 5   tenure            7043 non-null   int64
 6   Contract          7043 non-null   object
 7   PaperlessBilling  7043 non-null   object
 8   PaymentMethod     7043 non-null   object
 9   MonthlyCharges    7043 non-null   float64
 10  TotalCharges      7032 non-null   float64
 11  Churn             7043 non-null   object
 12  PhoneService      7043 non-null   object
 13  MultipleLines     7043 non-null   object
 14  InternetService   7043 non-null   object
 15  OnlineSecurity    7043 non-null   object
 16  OnlineBackup      7043 non-null   object
 17  DeviceProtection  7043 non-null   object
 18  TechSupport       7043 non-null   object
 19  StreamingTV       7043 non-null   object
 20  StreamingMovies   7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB